{% extends "navbar/navbar.html" %}
{% load crispy_forms_tags %}       

{% block title %}Forgot Your Password?{% endblock %}

{% block base_template %}
<div class="container"> 

<div class="alert alert-secondary" role="alert">
      
  <h1>Forgot your password?</h1>
  <p>Enter your email address below, and we'll send instructions for setting a new one.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <br>
    <input type="submit" class="btn btn-primary" value="Send me instructions!">
  </form>
  </div>
  </div>
{% endblock %}