{% extends "navbar/navbar.html" %}
{% load static %}

{% load crispy_forms_tags %}
{% block title %} Login {% endblock title %}

{% block base_template %}
<div class="container">

    {% if error %}
    <div class="alert alert-danger" role="alert">
       <h4>FAILED !</h4>
       <h6>
       <p> Hints: </p> 
       <ul>
       <li>Username or password might be wrong.</li>
       <li>If you are already registered and have forgotten credentials, go to Login page and select 'Forgot Password'.</li>
       <li>If your email doesn't exist anymore or you have forgotten, please register with a new email.</li>
       <li>Probably you created your account but never confirmed it from email.Please check your email(including spam).If link has expired or you deleted it, click 'Activate Account' below</li>
       </ul>
       </h6> 
    </div>

    {% elif message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>    
    {% endif %}

    <div class="alert alert-secondary" role="alert">
    
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy|safe }}
        <br>
        <p><input class="btn btn-primary" type="submit" name="submit" value="Login">
        <a class="btn btn-primary" href="{% url 'password_reset' %}">Forgot Password</a>
      
        </p>

        <p>  <a class="btn btn-warning" href="{% url 'accounts:manual_activation' %}">Activate Account</a></p>

    </form>
    </div>
</div>
        
{% endblock  %}
