{% extends "navbar/navbar.html" %}

{% block title %}Success{% endblock title %}

{% block base_template %}
<div class="container">
    <div class="alert alert-danger" role="alert">
    
    <p>Could not activate Account. Try Again !!</p>
    <p> Go to login page and click 'Activate Account'</p>
    <p class="alert alert-warning"> Hint: Probably entered username or email is wrong or does not exist.</p>

    <a class = "btn btn-primary "href="{% url 'shop:homepage' %}">Home</a> 
    <a class="btn btn-success" href="{% url 'accounts:user_login' %}">Login</a>

    </div>
</div>
{% endblock base_template %}

