<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>

  <b>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="">Ecommerce</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url "admin:index" %}">Admin</a>
            </li>
           {% endif %}

      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url "shop:homepage" %}">Home</a>
      </li>

     

        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'accounts:profile' %}">Welcome  {{ user.username }}</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" href="{% url "accounts:user_logout" %}"> Logout</a>
        </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url "shop:cart" %}">Cart</a>
          </li>

        {% else %}
           <a class="nav-link active" href="{% url "accounts:user_login" %}">Login</a>
           <li class="nav-item">
            <a class="nav-link active" href="{% url "accounts:user_signup" %}" tabindex="-1" >Signup</a>
          </li>
        {% endif %}

    </ul>
    
    <form method="POST" class="d-flex" action="{% url 'shop:searching' %}">
      {% csrf_token %}
      <input class="form-control me-2" type="search" placeholder="Enter something to search" aria-label="Search" name="search_text">
      <button class="btn btn-success" type="submit" ><b>Search</b></button>
    </form>
        </div>
      </div>
    </nav>
   </b> 
    <p></p>


    {% block base_template %}  

    {% endblock %}

    <script src="{% static 'js/bootstrap.js' %}"></script>

</body>
</html>