<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body>

    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url "admin:index" %}">Admin</a>
                    </li>
              {% endif %}

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url "shop:homepage" %}">Home</a>
              </li>

             

                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'accounts:profile' %}">Welcome  {{ user.username }}</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url "accounts:user_logout" %}"> Logout</a>
                </li>

                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url "shop:cart" %}">Cart</a>
                  </li>
                {% else %}
                   <a class="nav-link active" href="{% url "accounts:user_login" %}">Login</a>
                   <li class="nav-item">
                    <a class="nav-link active" href="{% url "accounts:user_signup" %}" tabindex="-1" >Signup</a>
                    </li>
                {% endif %}
              </li>
            </ul>
            
            <form method="POST" class="d-flex" action="{% url 'shop:searching' %}">
              {% csrf_token %}
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search_text">
              <button class="btn btn-outline-success" type="submit" >Search</button>
            </form>
          </div>
        </div>
      </nav>

    <p></p>
      
    
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    
    {% block base_template %}  

    {% endblock %}


</body>
</html>