{% extends "navbar/navbar.html" %}
{% load static %}

{% block base_template %}

<div class="container">

    <div class="alert alert-success" role="alert">
        {% if search_text %}
            <h4 class="alert-heading">
                Showing Search Results for "{{ search_text }}"
            </h4>
        {% endif %} 
        
        <hr>
        
        <h5 class="mb-0">
        {% if result %}
            Hope you found what you were looking for  &#128515;
        {% else %}
            Oops ! We are sorry. Nothing found based on your search &#128546;
        {% endif %}
        </h5>

    </div>
    {% if result %}
        <div class="row row-cols-4 row-cols-sm-4 g-4" >

            {% for product in result %}

            <div class="col">
                <div class="card">
                <img src="{% static 'images/1.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                    <a href="{% url 'shop:detailpage' product.pk %}">{{ product.name }}</a> 
                    </h5>
                    <p class="card-text">
                    Price : {{ product.price }}
                    </p>
                </div>
                </div>
            </div>
            {% endfor %}
        
         </div>
    
    {% endif %}
</div>
  
{% endblock %}