{% extends "navbar/navbar.html" %}
{% load static %}
{% block title %}Search{% endblock title %}

{% block base_template %}

<div class="container">

    <div class="alert alert-success" role="alert">
        {% if search_text %}
            <h4 class="alert-heading">
                Showing Search Results for "{{ search_text }}"
            </h4>
        {% endif %} 
        
        <hr>
        
        <h5 class="mb-0">
        {% if result %}
            Hope you found what you were looking for  &#128515;
        {% else %}
            Oops ! We are sorry. Nothing found based on your search &#128546;
        {% endif %}
        </h5>

    </div>


<div class="row" >

       {% for product in page_obj %}
        <div class="col-sm-6 col-lg-4 col-md-6" >
          <div class="card">
            {% if product.image.url is not None %}
              <img src="{{ product.image.url }}" class="card-img-top" alt="...">
            {% else %}
              <img src="" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
              <b>
              <h5 class="card-title">
                <b>{{ product.name }}</b>
              </h5>
              <p class="card-text">
                Price: Rs. {{ product.price }}
              </p> 
              <p>
                Do you want to buy this? 
                <a class="btn btn-primary" href="{% url 'shop:detailpage' product.pk %}">Click here</a>
              </p>
              </b>
            </div>
          </div>
        </div>
      {% endfor %}
       
    </div>
<br>
<p>
 <span class="current">
            <p class="h3">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
        </span></p>

<div class="pagination">
   
    <span class="step-links">
        
        
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
        {% endif %}

       

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>

        {% endif %}
  </ul>

    </span>
</div>
        
</div>
  
{% endblock %}