{% extends "navbar/navbar.html" %}
{% load static %}

{% block base_template %}
<title>Homepage </title>
        
      
<div class="container">

    <div class="row row-cols-3 row-cols-sm-3 g-4" >

      {% for product in page_obj %}
        <div class="col" >
          <div class="card">
            {% if product.image.url is not None %}
              <img src="{{ product.image.url }}" class="card-img-top" alt="...">
            {% else %}
              <img src="" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">
                {{ product.name }}
              </h5>
              <p class="card-text">
                Price: {{ product.price }}
                <br>
                Do you want to buy this? 
                <a href="{% url 'shop:detailpage' product.pk %}">Click here</a>
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
       
    </div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
        
</div>    

    

{% endblock %}