{% extends "navbar/navbar.html" %}
{% load static %}
{% block title %}Ecommerce-Home{% endblock title %}

{% block base_template %}

<div class="container">

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">

  {% for product in page_obj %}

    <div class="col">
      <div class="card h-100">
        <img src="{{ product.image.url|safe }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">
            <p> Price : Rs. {{ product.price }} </p>
            <p> Do you want to buy this? <a class="btn btn-primary" href="{% url 'shop:detailpage' product.pk %}">Click here</a> </p>
          </p>
        </div>
      </div>
    </div>

  {% endfor %}

</div>

       
<br>
<p>
<span class="current">
            <p class="h3">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
        </span></p>
<div class="pagination ">
   
    <span class="step-links">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
        {% endif %}

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>

        {% endif %}
  </ul>

    </span>
</div>
        

{% endblock base_template %}