{% extends 'navbar/navbar.html' %}
{% load crispy_forms_tags %}

{% block title %} Update Product {% endblock title %}

{% block base_template %}

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
          <h2>Change the background</h2>
          <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
          <button class="btn btn-outline-light" type="button">Example button</button>
        <form method="POST" >
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="SAVE">
        </form>
        </div>
    </div>
    
   
    
{% endblock base_template %}